/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
/* MAIN HEAD */
.main-head {
    width: 100%;
    /* test */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightblue;
}

.flex-head {
    width: 70%;
    margin: auto;
    display: flex;
    /* test */
    background-color: goldenrod;
    height: 50px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    width: 20%;
    /* test */
    border: 5px dotted black;

}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    /* test */
    border: 5px dotted black;
}

nav ul {
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: inherit;
}

/* LOGIN */
.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    /* test */
    border: 5px dotted black;
}

/* JUMBOTRON */
.jumbotron-container {
    display: flex;
    /* test */
    height: 500px;
    background-color: blue;
}

.jumbotron-container div {
    width: 60%;
    margin: auto;
    /* test */
    height: 400px;
    background-color: #ee82ee;
    border: 5px dotted black;
}

/* MAIN */
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container-lightblue {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    /* test */
    height: 450px;
    background-color: lightblue;
    border: 5px dotted black;
}

.container-pink {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    /* test */
    height: 450px;
    background-color: pink;
    border: 5px dotted black;
}

.container-green {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    /* test */
    height: 750px;
    background-color: green;
    border: 5px dotted black;
}

.grey {
    background-color: lightgrey;
}
/* main :nth-(2n+0) {
    background-color: lightgray;
} */

/* FOOTER */
footer section {
    /* test */
    background-color: rgb(35 39 42);
}

.flex-foot {
    width: 100%;
    display: flex;
    justify-content: center;
}

.foot-info {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 50px;
    /* test */
    background-color: lightcoral;
    height: 450px;
    border: 5px dotted black;
}

.foot-support {
    width: calc( 45% / 4 );
    margin-top: 10px;
    margin-bottom: 50px;
    /* test */
    background-color: lightseagreen;
    border: 5px dotted white;
}

/* FOOT-END */
.foot-end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* test */
    height: 100px;
}

.flex-end {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* test */
    height: 70px;
    background-color: lightgreen;
}

.red {
    text-align: center;
    width: 70px;
    height: 30px;
    /* test */
    background-color: lightcoral;
    border: 5px dotted black;
}